openapi: 3.1.1
info:
  title: Cookidoo Web API (Unofficial)
  version: 0.2.0
  summary: Observed Cookidoo web API surface for the Polish market.
  description: |-
    Independently authored, unofficial research specification. Cookidoo does not
    publish or support this as a public developer API. Operations marked
    `advertised-only` may have an inferred method or an incomplete payload.

    Use only with accounts and data you are authorized to access. Public
    availability of an endpoint is not permission to call it. Never enter live
    credentials or session cookies into hosted documentation, generators, issue
    reports, or other third-party tools.
  termsOfService: https://cookidoo.pl/consent/web/documents/pl-PL/latest/tos
  license:
    name: MIT
    identifier: MIT
servers:
- url: https://cookidoo.pl
  description: Polish Cookidoo market gateway; other markets are unverified.
tags:
- name: Recipes
- name: Search
- name: Created recipes
- name: Organize
- name: Planning
- name: Shopping
- name: Notes
- name: Ratings
- name: Profile
- name: Devices
- name: Ownership
- name: Feeds
x-cookidoo-authentication:
  status: partial
  documentation: docs/authentication.md
  evidence:
  - source: oidc-discovery-2026-08-16
    supports:
    - oidc-capabilities
  - source: external-clients-2026-08-17
    supports:
    - redirect-flow
    - cookie-session
  - source: authenticated-ui-2026-08-17
    supports:
    - form-behavior
    - csrf-observations
  loginEntryPoint: "/profile/{lang}/login"
  redirectParameter: redirectAfterLogin
  oidcDiscovery: https://ciam.prod.cookidoo.vorwerk-digital.com/.well-known/openid-configuration
  firstPartyFlow:
    protocol: authorization-code
    pkce: corroborated
    browserRedirects: true
    loginForm:
      action: dynamic-first-party-action
      contentType: application/x-www-form-urlencoded
      fields:
      - requestId
      - username
      - password
    callback: /oauth2/callback
  marketApiSession:
    mechanism: cookie-jar
    completeCookieSet: unknown
    knownSessionCookie: _oauth2_proxy
    uiMarkerCookie: v-authenticated
  logout:
    uiEntryPoint: /profile/logout
    completeSequence: unknown
  csrf:
    genericRule: unknown
    xRequestedWith: observed-ajax-marker
    inspectedGeneralFormsToken: not-observed
    originOrRefererEnforcement: unknown
    consentSpecificRule:
      cookie: csrf_
      header: X-Csrf-Token
      generalizable: false
x-cookidoo-protocol-behavior:
  status: partial
  documentation: docs/protocol-behavior.md
  idempotencyKey: not-observed
  automaticMutationRetries: unsafe-without-reconciliation
  publishedRateLimit: unknown
  retryAfter: optional-when-present
  conditionalWrites: not-observed
  concurrencyGuarantee: unknown
paths:
  "/recipes/recipe/{lang}/{recipeId}":
    get:
      tags:
      - Recipes
      summary: Get an official recipe
      operationId: getRecipe
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - "$ref": "#/components/parameters/RecipeId"
      responses:
        '200':
          description: Full recipe representation; exact fields vary by recipe and
            device generation.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/OfficialRecipe"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security: []
      x-cookidoo:
        status: corroborated
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: external-clients-2026-08-16
          supports:
          - path
          - method
          - authentication
          - request
          - response
        - source: public-live-reads-2026-08-17
          supports:
          - path
          - method
          - authentication
          - response
        responseShape: typed
        risk:
          effect: read
          destructive: false
          externallyVisible: false
          exercised: false
  "/recipes/cluster/{clusterId}":
    get:
      tags:
      - Recipes
      summary: Get variants in a recipe cluster
      description: |-
        Legacy compatibility route advertised by HAL discovery. A public
        synthetic miss confirmed an unauthenticated JSON array response. A
        low-volume public read of a non-empty cluster linked from an official
        recipe confirmed the modeled core item fields; other cluster variants
        and optional fields remain partial.
      operationId: getRecipeCluster
      parameters:
      - name: clusterId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Recipe cluster array with observed core item fields; additional variants remain partial.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/RecipeClusterV1Response"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security: []
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: public-discovery-2026-08-16
          supports:
          - path
        - source: public-live-reads-2026-08-17
          supports:
          - path
          - method
          - authentication
          - response
        responseShape: partial
        authentication: not-required-for-observed-read
        risk:
          effect: read
          destructive: false
          externallyVisible: false
          exercised: false
  "/recipes/cluster/2/{clusterId}":
    get:
      tags:
      - Recipes
      summary: Get variants in a recipe cluster (v2)
      description: |-
        Separately advertised v2 compatibility route. Public empty and
        non-empty reads confirmed the same top-level array kind as v1 and the
        modeled core fields, including `languageTag`; other cluster variants
        and optional fields remain partial.
      operationId: getRecipeClusterV2
      parameters:
      - name: clusterId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Recipe cluster array with observed core item fields; additional variants remain partial.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/RecipeClusterV2Response"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security: []
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: public-discovery-2026-08-16
          supports:
          - path
        - source: public-live-reads-2026-08-17
          supports:
          - path
          - method
          - authentication
          - response
        responseShape: partial
        authentication: not-required-for-observed-read
        risk:
          effect: read
          destructive: false
          externallyVisible: false
          exercised: false
  "/search/api/{lang}/search":
    get:
      tags:
      - Search
      summary: Search recipes and collections
      description: |-
        Advertised legacy API route. The current web search uses a different
        client-side search backend. A public synthetic miss confirmed a JSON
        object with a `data` array, while result items, filters, and pagination
        remain partial. `filters*` is modeled as an exploded map because the RFC
        6570 template does not advertise repeated `filters=` array values.
      operationId: search
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - name: query
        in: query
        schema:
          type: string
      - name: context
        in: query
        schema:
          type: string
      - name: filters
        in: query
        description: Exploded service-specific filter map; value grammar is not verified.
        schema:
          "$ref": "#/components/schemas/SearchFilters"
        style: form
        explode: true
      - name: focus
        in: query
        schema:
          type: string
      - name: pagination
        in: query
        description: Opaque scalar; page-number versus cursor semantics are unverified.
        schema:
          "$ref": "#/components/schemas/OpaqueQueryScalar"
      - name: limit
        in: query
        description: Opaque scalar advertised by the URI template; range and unit are unverified.
        schema:
          "$ref": "#/components/schemas/OpaqueQueryScalar"
      responses:
        '200':
          description: Search result envelope with partially known items.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SearchResultResponse"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security: []
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: public-discovery-2026-08-16
          supports:
          - path
        - source: public-live-reads-2026-08-17
          supports:
          - path
          - method
          - authentication
          - response
        responseShape: partial
        authentication: not-required-for-observed-read
        risk:
          effect: read
          destructive: false
          externallyVisible: false
          exercised: false
  "/search/api/{lang}/stripe":
    get:
      tags:
      - Search
      summary: Retrieve a search result stripe
      description: |-
        Advertised legacy API route. Scalar query variables are intentionally
        not narrowed to booleans or integers where discovery proves only their
        names. A public synthetic miss confirmed a JSON object with a `data`
        array; stripe item fields remain unverified.
      operationId: searchStripe
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - name: query
        in: query
        schema:
          type: string
      - name: context
        in: query
        schema:
          type: string
      - name: like
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          "$ref": "#/components/schemas/OpaqueQueryScalar"
      - name: exclude
        in: query
        schema:
          type: string
      - name: sortby
        in: query
        schema:
          type: string
      - name: ids
        in: query
        schema:
          type: string
      - name: includeRating
        in: query
        schema:
          "$ref": "#/components/schemas/OpaqueQueryScalar"
      - name: lazyLoading
        in: query
        schema:
          "$ref": "#/components/schemas/OpaqueQueryScalar"
      - name: filters
        in: query
        description: Exploded service-specific filter map; value grammar is not verified.
        style: form
        explode: true
        schema:
          "$ref": "#/components/schemas/SearchFilters"
      responses:
        '200':
          description: Search stripe envelope with partially known items.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SearchResultResponse"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security: []
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: public-discovery-2026-08-16
          supports:
          - path
        - source: public-live-reads-2026-08-17
          supports:
          - path
          - method
          - authentication
          - response
        responseShape: partial
        authentication: not-required-for-observed-read
        risk:
          effect: read
          destructive: false
          externallyVisible: false
          exercised: false
  "/search/api/ingredients":
    get:
      tags:
      - Search
      summary: Search ingredient filter values
      description: |-
        Advertised legacy suggestion route. A public synthetic miss confirmed a
        JSON object with an `ingredients` array. Item fields, filter grammar,
        and limit semantics remain unverified.
      operationId: searchIngredients
      parameters:
      - name: query
        in: query
        schema:
          type: string
      - name: filters
        in: query
        schema:
          "$ref": "#/components/schemas/SearchFilters"
        description: Exploded service-specific filter map; value grammar is not verified.
        style: form
        explode: true
      - name: language
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          "$ref": "#/components/schemas/OpaqueQueryScalar"
      responses:
        '200':
          description: Ingredient suggestion envelope with partially known items.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/IngredientSearchResponse"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security: []
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: public-discovery-2026-08-16
          supports:
          - path
        - source: public-live-reads-2026-08-17
          supports:
          - path
          - method
          - authentication
          - response
        responseShape: partial
        authentication: not-required-for-observed-read
        risk:
          effect: read
          destructive: false
          externallyVisible: false
          exercised: false
  "/created-recipes/{lang}":
    get:
      tags:
      - Created recipes
      summary: List the signed-in user's created recipes
      operationId: listCreatedRecipes
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - name: ids
        in: query
        schema:
          type: string
      - name: recipeUrl
        in: query
        schema:
          type: string
          format: uri
      - name: partnerId
        in: query
        schema:
          type: string
      - name: addToCookidoo
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Created-recipe list; both direct arrays and envelopes are in current use.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreatedRecipeList"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: corroborated
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: authenticated-ui-2026-08-17
          supports:
          - path
          - method
          - authentication
          - request
        - source: external-clients-2026-08-17
          supports:
          - path
          - method
          - authentication
          - response
        responseShape: partial
        risk:
          effect: read
          destructive: false
          externallyVisible: false
          exercised: false
    post:
      tags:
      - Created recipes
      summary: Create a blank recipe or import/copy a recipe
      operationId: createCreatedRecipe
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - "$ref": "#/components/parameters/XRequestedWith"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - "$ref": "#/components/schemas/CreateBlankRecipe"
              - "$ref": "#/components/schemas/CopyRecipe"
            example:
              recipeName: Synthetic recipe
      responses:
        '200':
          description: |-
            JSON/XHR creation result. The current first-party UI consumes the ID
            representation; an independent client also supports a full-recipe
            representation for copy/import negotiation.
          content:
            application/json:
              schema:
                anyOf:
                - "$ref": "#/components/schemas/CreatedRecipeCreated"
                - "$ref": "#/components/schemas/CreatedRecipe"
        '429':
          description: Import/copy rate limited.
          headers:
            Retry-After:
              "$ref": "#/components/headers/RetryAfter"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Problem"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: authenticated-ui-2026-08-16
          supports:
          - path
          - method
          - authentication
          - request
        - source: authenticated-ui-2026-08-17
          supports:
          - path
          - method
          - authentication
          - request
          - response
        - source: external-clients-2026-08-17
          supports:
          - path
          - method
          - authentication
          - request
          - response
        responseShape: typed
        risk:
          effect: private-write
          destructive: false
          externallyVisible: false
          exercised: true
  "/created-recipes/{lang}/{customerRecipeId}":
    get:
      tags:
      - Created recipes
      summary: Get a created recipe in full form
      operationId: getCreatedRecipe
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - "$ref": "#/components/parameters/CustomerRecipeId"
      responses:
        '200':
          description: Full created recipe.
          content:
            application/vnd.vorwerk.customer-recipe.full+json:
              schema:
                "$ref": "#/components/schemas/CreatedRecipe"
            application/json:
              schema:
                "$ref": "#/components/schemas/CreatedRecipe"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-16'
        market: pl
        evidence:
        - source: authenticated-ui-2026-08-16
          supports:
          - path
          - method
          - authentication
          - request
          - response
        responseShape: typed
        risk:
          effect: read
          destructive: false
          externallyVisible: false
          exercised: false
    patch:
      tags:
      - Created recipes
      summary: Partially update a created recipe
      operationId: patchCreatedRecipe
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - "$ref": "#/components/parameters/CustomerRecipeId"
      - "$ref": "#/components/parameters/XRequestedWith"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreatedRecipePatch"
            example:
              name: Synthetic recipe updated
      responses:
        '200':
          description: Updated recipe.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreatedRecipe"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: authenticated-ui-2026-08-16
          supports:
          - path
          - method
          - authentication
          - request
          - response
        - source: external-clients-2026-08-17
          supports:
          - path
          - method
          - authentication
          - request
          - response
        responseShape: typed
        risk:
          effect: public-share
          destructive: false
          externallyVisible: true
          exercised: true
    delete:
      tags:
      - Created recipes
      summary: Delete a created recipe
      operationId: deleteCreatedRecipe
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - "$ref": "#/components/parameters/CustomerRecipeId"
      - "$ref": "#/components/parameters/XRequestedWith"
      responses:
        '200':
          "$ref": "#/components/responses/EmptySuccess"
        '204':
          "$ref": "#/components/responses/EmptySuccess"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-16'
        market: pl
        evidence:
        - source: authenticated-ui-2026-08-16
          supports:
          - path
          - method
          - authentication
          - request
          - response
        responseShape: typed
        risk:
          effect: delete
          destructive: true
          externallyVisible: false
          exercised: false
  "/created-recipes/public/recipes/{lang}/{customerRecipeId}":
    get:
      tags:
      - Created recipes
      summary: Get a publicly shared created recipe
      operationId: getPublicCreatedRecipe
      security: []
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - "$ref": "#/components/parameters/CustomerRecipeId"
      responses:
        '200':
          description: Public created-recipe representation.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PublicCreatedRecipe"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: public-discovery-2026-08-16
          supports:
          - path
        - source: public-live-reads-2026-08-17
          supports:
          - path
          - method
          - authentication
          - response
        responseShape: typed
        risk:
          effect: read
          destructive: false
          externallyVisible: false
          exercised: false
  "/organize/{lang}/api/bookmark":
    put:
      tags:
      - Organize
      summary: Bookmark an official recipe
      operationId: addBookmark
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - "$ref": "#/components/parameters/XRequestedWith"
      requestBody:
        "$ref": "#/components/requestBodies/RecipeIdBody"
      responses:
        '200':
          "$ref": "#/components/responses/UnknownJsonSuccess"
        '204':
          "$ref": "#/components/responses/EmptySuccess"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-16'
        market: pl
        evidence:
        - source: authenticated-ui-2026-08-16
          supports:
          - path
          - method
          - authentication
          - request
        responseShape: unknown
        risk:
          effect: private-write
          destructive: false
          externallyVisible: false
          exercised: false
    delete:
      tags:
      - Organize
      summary: Remove an official recipe bookmark
      operationId: removeBookmark
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - "$ref": "#/components/parameters/XRequestedWith"
      requestBody:
        "$ref": "#/components/requestBodies/RecipeIdBody"
      responses:
        '200':
          "$ref": "#/components/responses/UnknownJsonSuccess"
        '204':
          "$ref": "#/components/responses/EmptySuccess"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-16'
        market: pl
        evidence:
        - source: authenticated-ui-2026-08-16
          supports:
          - path
          - method
          - authentication
          - request
        responseShape: unknown
        risk:
          effect: delete
          destructive: true
          externallyVisible: false
          exercised: false
  "/organize/{lang}/api/custom-list":
    get:
      tags:
      - Organize
      summary: List custom recipe lists
      operationId: listCustomLists
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - "$ref": "#/components/parameters/Page"
      responses:
        '200':
          description: Preferred mobile representation; exact fields remain incompletely
            observed.
          content:
            application/vnd.vorwerk.organize.custom-list.mobile+json:
              schema:
                "$ref": "#/components/schemas/CustomListPage"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: corroborated
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: external-clients-2026-08-17
          supports:
          - path
          - method
          - authentication
          - request
          - response
        responseShape: partial
        risk:
          effect: read
          destructive: false
          externallyVisible: false
          exercised: false
    post:
      tags:
      - Organize
      summary: Create a custom recipe list
      operationId: createCustomList
      parameters:
      - "$ref": "#/components/parameters/Lang"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - title
              properties:
                title:
                  type: string
                  minLength: 1
                recipeIds:
                  type: array
                  items:
                    type: string
                  minItems: 1
                  uniqueItems: true
              additionalProperties: false
            example:
              title: Synthetic list
              recipeIds:
              - r123456
      responses:
        '200':
          description: Created custom list in a mutation envelope.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CustomListMutationResult"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: authenticated-ui-2026-08-16
          supports:
          - path
          - method
          - authentication
          - request
        - source: external-clients-2026-08-17
          supports:
          - path
          - method
          - authentication
          - request
          - response
        responseShape: partial
        risk:
          effect: private-write
          destructive: false
          externallyVisible: false
          exercised: false
  "/organize/{lang}/api/custom-list/{listId}":
    get:
      tags:
      - Organize
      summary: Get a custom recipe list
      operationId: getCustomList
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - "$ref": "#/components/parameters/ListId"
      responses:
        '200':
          "$ref": "#/components/responses/UnknownJsonSuccess"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: public-discovery-2026-08-16
          supports:
          - path
        - source: public-live-reads-2026-08-17
          supports:
          - path
          - method
          - authentication
        responseShape: unknown
        risk:
          effect: read
          destructive: false
          externallyVisible: false
          exercised: false
    put:
      tags:
      - Organize
      summary: Update a custom list or add recipes to it
      operationId: updateCustomList
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - "$ref": "#/components/parameters/ListId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                required:
                - recipeIds
                properties:
                  listId:
                    type: string
                  recipeIds:
                    type: array
                    items:
                      type: string
                    minItems: 1
                    uniqueItems: true
                additionalProperties: false
              - type: object
                required:
                - title
                properties:
                  title:
                    type: string
                    minLength: 1
                additionalProperties: false
            example:
              title: Synthetic list renamed
      responses:
        '200':
          description: Updated custom list in a mutation envelope.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CustomListMutationResult"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: authenticated-ui-2026-08-16
          supports:
          - path
          - method
          - authentication
          - request
        - source: external-clients-2026-08-17
          supports:
          - path
          - method
          - authentication
          - request
          - response
        responseShape: partial
        risk:
          effect: private-write
          destructive: false
          externallyVisible: false
          exercised: false
    delete:
      tags:
      - Organize
      summary: Delete a custom list
      operationId: deleteCustomList
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - "$ref": "#/components/parameters/ListId"
      responses:
        '200':
          "$ref": "#/components/responses/EmptySuccess"
        '204':
          "$ref": "#/components/responses/EmptySuccess"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: corroborated
        lastVerified: '2026-08-16'
        market: pl
        evidence:
        - source: external-clients-2026-08-16
          supports:
          - path
          - method
          - authentication
          - request
          - response
        responseShape: typed
        risk:
          effect: delete
          destructive: true
          externallyVisible: false
          exercised: false
  "/organize/{lang}/api/custom-list/{listId}/recipes/{recipeId}":
    delete:
      tags:
      - Organize
      summary: Remove one recipe from a custom list
      operationId: removeRecipeFromCustomList
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - "$ref": "#/components/parameters/ListId"
      - "$ref": "#/components/parameters/AnyRecipeId"
      responses:
        '200':
          description: Updated custom list after removing the recipe.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CustomListMutationResult"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: authenticated-ui-2026-08-16
          supports:
          - path
          - method
          - authentication
          - request
        - source: external-clients-2026-08-17
          supports:
          - path
          - method
          - authentication
          - request
          - response
        responseShape: partial
        risk:
          effect: delete
          destructive: true
          externallyVisible: false
          exercised: false
  "/organize/{lang}/api/managed-list":
    get:
      tags:
      - Organize
      summary: List saved official collections
      operationId: listManagedLists
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - "$ref": "#/components/parameters/Page"
      responses:
        '200':
          description: Preferred mobile representation; exact fields remain incompletely
            observed.
          content:
            application/vnd.vorwerk.organize.managed-list.mobile+json:
              schema:
                "$ref": "#/components/schemas/ManagedListPage"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: corroborated
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: external-clients-2026-08-17
          supports:
          - path
          - method
          - authentication
          - request
          - response
        responseShape: partial
        risk:
          effect: read
          destructive: false
          externallyVisible: false
          exercised: false
    post:
      tags:
      - Organize
      summary: Save an official collection
      operationId: saveManagedList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - collectionId
              properties:
                collectionId:
                  type: string
              additionalProperties: false
            example:
              collectionId: synthetic-collection-id
      parameters:
      - "$ref": "#/components/parameters/Lang"
      responses:
        '200':
          description: Saved managed list in a mutation envelope.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ManagedListMutationResult"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: corroborated
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: external-clients-2026-08-17
          supports:
          - path
          - method
          - authentication
          - request
          - response
        responseShape: partial
        risk:
          effect: private-write
          destructive: false
          externallyVisible: false
          exercised: false
  "/organize/{lang}/api/managed-list/{listId}":
    delete:
      tags:
      - Organize
      summary: Remove a saved official collection
      operationId: removeManagedList
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - "$ref": "#/components/parameters/ListId"
      responses:
        '200':
          "$ref": "#/components/responses/EmptySuccess"
        '204':
          "$ref": "#/components/responses/EmptySuccess"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: corroborated
        lastVerified: '2026-08-16'
        market: pl
        evidence:
        - source: external-clients-2026-08-16
          supports:
          - path
          - method
          - authentication
          - request
          - response
        responseShape: typed
        risk:
          effect: delete
          destructive: true
          externallyVisible: false
          exercised: false
  "/organize/{lang}/api/move-recipe":
    post:
      tags:
      - Organize
      summary: Move a recipe between organizer lists
      operationId: moveRecipe
      parameters:
      - "$ref": "#/components/parameters/Lang"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MoveRecipe"
            example:
              recipeId: r123456
              targetListId: synthetic-target-list
              srcListId: synthetic-source-list
              targetListType: CUSTOM
              srcListType: CUSTOM
      responses:
        '200':
          "$ref": "#/components/responses/UnknownJsonSuccess"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-16'
        market: pl
        evidence:
        - source: authenticated-ui-2026-08-16
          supports:
          - path
          - method
          - authentication
          - request
        responseShape: unknown
        risk:
          effect: private-write
          destructive: false
          externallyVisible: false
          exercised: false
  "/organize/{lang}/api/shared-list":
    post:
      tags:
      - Organize
      summary: Start sharing a custom list
      operationId: shareCustomList
      description: Creates or refreshes a share link. This changes sharing state.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customListId
              properties:
                customListId:
                  type: string
              additionalProperties: false
            example:
              customListId: synthetic-list-id
      parameters:
      - "$ref": "#/components/parameters/Lang"
      responses:
        '200':
          "$ref": "#/components/responses/UnknownJsonSuccess"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-16'
        market: pl
        evidence:
        - source: authenticated-ui-2026-08-16
          supports:
          - path
          - method
          - authentication
          - request
        responseShape: unknown
        risk:
          effect: public-share
          destructive: false
          externallyVisible: true
          exercised: false
  "/organize/{lang}/api/shared-list/{sharedListId}":
    get:
      tags:
      - Organize
      summary: Retrieve a shared list
      operationId: getSharedList
      security:
      - cookieSession: []
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - name: sharedListId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          "$ref": "#/components/responses/UnknownJsonSuccess"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: public-discovery-2026-08-16
          supports:
          - path
        - source: public-live-reads-2026-08-17
          supports:
          - path
          - method
          - authentication
        responseShape: unknown
        risk:
          effect: read
          destructive: false
          externallyVisible: false
          exercised: false
    delete:
      tags:
      - Organize
      summary: Revoke custom-list sharing
      operationId: revokeSharedList
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - name: sharedListId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          "$ref": "#/components/responses/UnknownJsonSuccess"
        '204':
          "$ref": "#/components/responses/EmptySuccess"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: advertised-only
        lastVerified: '2026-08-16'
        market: pl
        evidence:
        - source: public-discovery-2026-08-16
          supports:
          - path
        responseShape: unknown
        risk:
          effect: delete
          destructive: true
          externallyVisible: true
          exercised: false
  "/planning/{lang}/api/my-week/{dayKey}":
    get:
      tags:
      - Planning
      summary: Get the planning week containing a date
      operationId: getPlanningWeek
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - "$ref": "#/components/parameters/DayKey"
      responses:
        '200':
          description: Week envelope containing planned days.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PlanningWeek"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: corroborated
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: external-clients-2026-08-17
          supports:
          - path
          - method
          - authentication
          - request
          - response
        responseShape: partial
        risk:
          effect: read
          destructive: false
          externallyVisible: false
          exercised: false
  "/planning/{lang}/api/my-day":
    put:
      tags:
      - Planning
      summary: Add recipes to a calendar day
      operationId: addRecipesToDay
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AddRecipesToDay"
            example:
              recipeIds:
              - r123456
              dayKey: '2026-01-15'
      parameters:
      - "$ref": "#/components/parameters/Lang"
      responses:
        '200':
          description: Updated planning day in a mutation envelope.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PlanningMutationResult"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: authenticated-ui-2026-08-16
          supports:
          - path
          - method
          - authentication
          - request
        - source: external-clients-2026-08-17
          supports:
          - path
          - method
          - authentication
          - request
          - response
        responseShape: partial
        risk:
          effect: private-write
          destructive: false
          externallyVisible: false
          exercised: false
  "/planning/{lang}/api/my-day/{dayKey}":
    get:
      tags:
      - Planning
      summary: Get one calendar day
      description: |-
        Advertised compatibility route. The current planning UI uses separate
        calendar and my-day routes, so GET semantics and response shape here
        remain unverified.
      operationId: getPlanningDay
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - "$ref": "#/components/parameters/DayKey"
      responses:
        '200':
          "$ref": "#/components/responses/UnknownJsonSuccess"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: public-discovery-2026-08-16
          supports:
          - path
        - source: public-live-reads-2026-08-17
          supports:
          - path
          - method
          - authentication
        responseShape: unknown
        risk:
          effect: read
          destructive: false
          externallyVisible: false
          exercised: false
    delete:
      tags:
      - Planning
      summary: Remove all planned content for a date
      description: |-
        Advertised compatibility operation inferred from the route. It was not
        exercised because it could remove existing account data, and the
        current planning UI did not confirm this exact operation.
      operationId: removePlanningDay
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - "$ref": "#/components/parameters/DayKey"
      responses:
        '200':
          "$ref": "#/components/responses/UnknownJsonSuccess"
        '204':
          "$ref": "#/components/responses/EmptySuccess"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: advertised-only
        lastVerified: '2026-08-16'
        market: pl
        evidence:
        - source: public-discovery-2026-08-16
          supports:
          - path
        responseShape: unknown
        risk:
          effect: delete
          destructive: true
          externallyVisible: false
          exercised: false
  "/planning/{lang}/api/my-day/{dayKey}/recipes/{recipeId}":
    delete:
      tags:
      - Planning
      summary: Remove one recipe from a calendar day
      operationId: removeRecipeFromDay
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - "$ref": "#/components/parameters/DayKey"
      - "$ref": "#/components/parameters/AnyRecipeId"
      - name: recipeSource
        in: query
        schema:
          type: string
          enum:
          - CUSTOMER
      responses:
        '200':
          description: Updated planning day in a mutation envelope.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PlanningMutationResult"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: corroborated
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: external-clients-2026-08-17
          supports:
          - path
          - method
          - authentication
          - request
          - response
        responseShape: partial
        risk:
          effect: delete
          destructive: true
          externallyVisible: false
          exercised: false
  "/planning/{lang}/api/my-day/move-recipe":
    post:
      tags:
      - Planning
      summary: Move a planned recipe between dates
      description: |-
        Advertised compatibility operation. Current first-party code exposes a
        move result containing old/new day keys and recipe identity, but it does
        not establish that this legacy route uses the same request or response.
      operationId: movePlannedRecipe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UnknownJson"
      parameters:
      - "$ref": "#/components/parameters/Lang"
      responses:
        '200':
          "$ref": "#/components/responses/UnknownJsonSuccess"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: advertised-only
        lastVerified: '2026-08-16'
        market: pl
        evidence:
        - source: public-discovery-2026-08-16
          supports:
          - path
        responseShape: unknown
        risk:
          effect: private-write
          destructive: false
          externallyVisible: false
          exercised: false
  "/shopping/{lang}":
    get:
      tags:
      - Shopping
      summary: Get shopping list recipes, ingredients, and ad-hoc items
      description: |-
        JSON representation selected by `Accept: application/json`. A normal
        browser navigation may negotiate HTML instead.
      operationId: getShoppingList
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - name: excludeComponent
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Current shopping-list representation.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ShoppingList"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: authenticated-ui-2026-08-16
          supports:
          - path
          - method
          - authentication
          - request
        - source: external-clients-2026-08-17
          supports:
          - path
          - method
          - authentication
          - request
          - response
        responseShape: partial
        risk:
          effect: read
          destructive: false
          externallyVisible: false
          exercised: false
    delete:
      tags:
      - Shopping
      summary: Clear the entire shopping list
      operationId: clearShoppingList
      parameters:
      - "$ref": "#/components/parameters/Lang"
      responses:
        '200':
          "$ref": "#/components/responses/EmptySuccess"
        '204':
          "$ref": "#/components/responses/EmptySuccess"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: corroborated
        lastVerified: '2026-08-16'
        market: pl
        evidence:
        - source: external-clients-2026-08-16
          supports:
          - path
          - method
          - authentication
          - request
          - response
        responseShape: typed
        risk:
          effect: delete
          destructive: true
          externallyVisible: false
          exercised: false
  "/shopping/{lang}/recipes/add":
    post:
      tags:
      - Shopping
      summary: Add recipe ingredients to the shopping list
      operationId: addRecipesToShoppingList
      parameters:
      - "$ref": "#/components/parameters/Lang"
      requestBody:
        "$ref": "#/components/requestBodies/RecipeIdsAddBody"
      responses:
        '200':
          description: Recipes added to the shopping list.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ShoppingRecipeMutationResult"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: corroborated
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: external-clients-2026-08-17
          supports:
          - path
          - method
          - authentication
          - request
          - response
        responseShape: partial
        risk:
          effect: private-write
          destructive: false
          externallyVisible: false
          exercised: false
  "/shopping/{lang}/recipes/remove":
    post:
      tags:
      - Shopping
      summary: Remove recipe ingredients from the shopping list
      operationId: removeRecipesFromShoppingList
      parameters:
      - "$ref": "#/components/parameters/Lang"
      requestBody:
        "$ref": "#/components/requestBodies/RecipeIdsRemoveBody"
      responses:
        '200':
          "$ref": "#/components/responses/EmptySuccess"
        '204':
          "$ref": "#/components/responses/EmptySuccess"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: corroborated
        lastVerified: '2026-08-16'
        market: pl
        evidence:
        - source: external-clients-2026-08-16
          supports:
          - path
          - method
          - authentication
          - request
          - response
        responseShape: typed
        risk:
          effect: private-write
          destructive: false
          externallyVisible: false
          exercised: false
  "/shopping/{lang}/owned-ingredients/ownership/edit":
    post:
      tags:
      - Shopping
      summary: Set ingredient ownership state
      operationId: editIngredientOwnership
      parameters:
      - "$ref": "#/components/parameters/Lang"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - ingredients
              properties:
                ingredients:
                  type: array
                  items:
                    "$ref": "#/components/schemas/OwnedItemPatch"
                  minItems: 1
              additionalProperties: false
            example:
              ingredients:
              - id: synthetic-ingredient-id
                isOwned: true
      responses:
        '200':
          description: Updated ingredient entries.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ShoppingIngredientMutationResult"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: corroborated
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: external-clients-2026-08-17
          supports:
          - path
          - method
          - authentication
          - request
          - response
        responseShape: partial
        risk:
          effect: private-write
          destructive: false
          externallyVisible: false
          exercised: false
  "/shopping/{lang}/additional-items/add":
    post:
      tags:
      - Shopping
      summary: Add ad-hoc shopping items
      operationId: addAdditionalShoppingItems
      parameters:
      - "$ref": "#/components/parameters/Lang"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - itemsValue
              properties:
                itemsValue:
                  type: array
                  items:
                    type: string
                  minItems: 1
                  uniqueItems: true
              additionalProperties: false
            example:
              itemsValue:
              - Synthetic item
      responses:
        '200':
          description: Added ad-hoc items.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AdditionalShoppingItemsMutationResult"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: corroborated
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: external-clients-2026-08-17
          supports:
          - path
          - method
          - authentication
          - request
          - response
        responseShape: partial
        risk:
          effect: private-write
          destructive: false
          externallyVisible: false
          exercised: false
  "/shopping/{lang}/additional-items/edit":
    post:
      tags:
      - Shopping
      summary: Rename ad-hoc shopping items
      operationId: editAdditionalShoppingItems
      parameters:
      - "$ref": "#/components/parameters/Lang"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - additionalItems
              properties:
                additionalItems:
                  type: array
                  items:
                    type: object
                    required:
                    - id
                    - name
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                    additionalProperties: false
                  minItems: 1
              additionalProperties: false
            example:
              additionalItems:
              - id: synthetic-item-id
                name: Synthetic item
      responses:
        '200':
          description: Updated ad-hoc items.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AdditionalShoppingItemsMutationResult"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: corroborated
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: external-clients-2026-08-17
          supports:
          - path
          - method
          - authentication
          - request
          - response
        responseShape: partial
        risk:
          effect: private-write
          destructive: false
          externallyVisible: false
          exercised: false
  "/shopping/{lang}/additional-items/ownership/edit":
    post:
      tags:
      - Shopping
      summary: Set ad-hoc item ownership state
      operationId: editAdditionalItemOwnership
      parameters:
      - "$ref": "#/components/parameters/Lang"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - additionalItems
              properties:
                additionalItems:
                  type: array
                  items:
                    "$ref": "#/components/schemas/OwnedItemPatch"
                  minItems: 1
              additionalProperties: false
            example:
              additionalItems:
              - id: synthetic-item-id
                isOwned: true
      responses:
        '200':
          description: Updated ad-hoc item ownership states.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AdditionalShoppingItemsMutationResult"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: corroborated
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: external-clients-2026-08-17
          supports:
          - path
          - method
          - authentication
          - request
          - response
        responseShape: partial
        risk:
          effect: private-write
          destructive: false
          externallyVisible: false
          exercised: false
  "/shopping/{lang}/additional-items/remove":
    post:
      tags:
      - Shopping
      summary: Remove ad-hoc shopping items
      operationId: removeAdditionalShoppingItems
      parameters:
      - "$ref": "#/components/parameters/Lang"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - additionalItemIDs
              properties:
                additionalItemIDs:
                  type: array
                  items:
                    type: string
                  minItems: 1
                  uniqueItems: true
              additionalProperties: false
            example:
              additionalItemIDs:
              - synthetic-item-id
      responses:
        '200':
          "$ref": "#/components/responses/EmptySuccess"
        '204':
          "$ref": "#/components/responses/EmptySuccess"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: corroborated
        lastVerified: '2026-08-16'
        market: pl
        evidence:
        - source: external-clients-2026-08-16
          supports:
          - path
          - method
          - authentication
          - request
          - response
        responseShape: typed
        risk:
          effect: private-write
          destructive: false
          externallyVisible: false
          exercised: false
  "/recipe-notes/{lang}/recipes":
    post:
      tags:
      - Notes
      summary: Create a private note for a recipe
      operationId: createRecipeNote
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - "$ref": "#/components/parameters/XRequestedWith"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - recipeId
              - text
              properties:
                recipeId:
                  type: string
                text:
                  type: string
              additionalProperties: false
            example:
              recipeId: r123456
              text: Synthetic private note
      responses:
        '200':
          description: Created note.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/RecipeNote"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: authenticated-ui-2026-08-17
          supports:
          - path
          - method
          - authentication
          - request
          - response
        responseShape: typed
        risk:
          effect: private-write
          destructive: false
          externallyVisible: false
          exercised: false
  "/recipe-notes/{lang}/recipes/{recipeId}":
    get:
      tags:
      - Notes
      summary: Get a private recipe note
      description: |-
        Discovery advertises this JSON-looking route, while the current recipe
        page loads a separate HTML partial for display. The GET representation
        therefore remains unverified even though writes use this route family.
      operationId: getRecipeNote
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - "$ref": "#/components/parameters/AnyRecipeId"
      responses:
        '200':
          "$ref": "#/components/responses/UnknownJsonSuccess"
        '404':
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: public-discovery-2026-08-16
          supports:
          - path
        - source: public-live-reads-2026-08-17
          supports:
          - path
          - method
          - authentication
        responseShape: unknown
        risk:
          effect: read
          destructive: false
          externallyVisible: false
          exercised: false
    put:
      tags:
      - Notes
      summary: Replace a private recipe note
      operationId: updateRecipeNote
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - "$ref": "#/components/parameters/AnyRecipeId"
      - "$ref": "#/components/parameters/XRequestedWith"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - text
              properties:
                text:
                  type: string
              additionalProperties: false
            example:
              text: Synthetic private note updated
      responses:
        '200':
          description: Updated note.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/RecipeNote"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: authenticated-ui-2026-08-17
          supports:
          - path
          - method
          - authentication
          - request
          - response
        responseShape: typed
        risk:
          effect: private-write
          destructive: false
          externallyVisible: false
          exercised: false
    delete:
      tags:
      - Notes
      summary: Delete a private recipe note
      operationId: deleteRecipeNote
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - "$ref": "#/components/parameters/AnyRecipeId"
      - "$ref": "#/components/parameters/XRequestedWith"
      responses:
        '200':
          "$ref": "#/components/responses/EmptySuccess"
        '204':
          "$ref": "#/components/responses/EmptySuccess"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: authenticated-ui-2026-08-17
          supports:
          - path
          - method
          - authentication
          - request
          - response
        responseShape: typed
        risk:
          effect: delete
          destructive: true
          externallyVisible: false
          exercised: false
  "/rating/{lang}/aggregated-ratings/recipes/{recipeId}":
    get:
      tags:
      - Ratings
      summary: Get aggregate rating for a recipe
      description: |-
        Public read confirmed independently of the server-rendered rating shown
        on recipe pages.
      operationId: getAggregatedRecipeRating
      security: []
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - "$ref": "#/components/parameters/RecipeId"
      responses:
        '200':
          description: Aggregate rating counters and update time.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AggregatedRecipeRating"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: public-discovery-2026-08-16
          supports:
          - path
        - source: public-live-reads-2026-08-17
          supports:
          - path
          - method
          - authentication
          - response
        responseShape: typed
        risk:
          effect: read
          destructive: false
          externallyVisible: false
          exercised: false
  "/rating/{lang}/user-ratings/recipes/{recipeId}":
    put:
      tags:
      - Ratings
      summary: Set the signed-in user's recipe rating
      operationId: setUserRecipeRating
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - "$ref": "#/components/parameters/RecipeId"
      - "$ref": "#/components/parameters/XRequestedWith"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - rating
              properties:
                rating:
                  type: integer
                  minimum: 1
                  maximum: 5
              additionalProperties: false
            example:
              rating: 4
      responses:
        '200':
          "$ref": "#/components/responses/UnknownJsonSuccess"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: authenticated-ui-2026-08-17
          supports:
          - path
          - method
          - authentication
          - request
        responseShape: unknown
        risk:
          effect: public-rating
          destructive: false
          externallyVisible: true
          exercised: false
  "/community/profile":
    get:
      tags:
      - Profile
      summary: Get the current user's community profile
      operationId: getCommunityProfile
      responses:
        '200':
          description: Current user's community profile.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CommunityProfile"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: corroborated
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: external-clients-2026-08-17
          supports:
          - path
          - method
          - authentication
          - response
        responseShape: partial
        risk:
          effect: read
          destructive: false
          externallyVisible: false
          exercised: false
  "/community/profile/{lang}":
    get:
      tags:
      - Profile
      summary: Get the localized current-user community profile
      operationId: getLocalizedCommunityProfile
      parameters:
      - "$ref": "#/components/parameters/Lang"
      responses:
        '200':
          description: Localized community profile selected as JSON by the current UI.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CommunityProfile"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: authenticated-ui-2026-08-17
          supports:
          - path
          - method
          - authentication
          - response
        responseShape: partial
        risk:
          effect: read
          destructive: false
          externallyVisible: false
          exercised: false
    put:
      tags:
      - Profile
      summary: Update profile food preferences or accessories
      operationId: updateCommunityProfile
      parameters:
      - "$ref": "#/components/parameters/Lang"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CommunityProfileUpdate"
            example:
              food-preferences:
              - synthetic-preference
      responses:
        '200':
          "$ref": "#/components/responses/UnknownJsonSuccess"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-16'
        market: pl
        evidence:
        - source: authenticated-ui-2026-08-16
          supports:
          - path
          - method
          - authentication
          - request
        responseShape: unknown
        risk:
          effect: private-write
          destructive: false
          externallyVisible: false
          exercised: false
  "/ownership/subscriptions":
    get:
      tags:
      - Ownership
      summary: List the current account's subscriptions
      operationId: listSubscriptions
      responses:
        '200':
          description: Subscription records.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SubscriptionList"
              example:
              - active: true
                expires: '2027-01-01'
                startDate: '2026-01-01'
                status: ACTIVE
                subscriptionLevel: synthetic-level
                subscriptionSource: synthetic-source
                type: synthetic-type
                extendedType: synthetic-extended-type
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: corroborated
        lastVerified: '2026-08-17'
        market: pl
        evidence:
        - source: external-clients-2026-08-17
          supports:
          - path
          - method
          - authentication
          - response
        responseShape: partial
        risk:
          effect: read
          destructive: false
          externallyVisible: false
          exercised: false
  "/customer-devices/api/my-devices/versions":
    get:
      tags:
      - Devices
      summary: Get versions/capabilities for linked devices
      operationId: getDeviceVersions
      responses:
        '200':
          "$ref": "#/components/responses/UnknownJsonSuccess"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-16'
        market: pl
        evidence:
        - source: authenticated-ui-2026-08-16
          supports:
          - path
          - method
          - authentication
        responseShape: unknown
        risk:
          effect: read
          destructive: false
          externallyVisible: false
          exercised: false
  "/customer-devices/api/connected-device/links":
    post:
      tags:
      - Devices
      summary: Link or activate a connected device
      operationId: linkConnectedDevice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UnknownJson"
      responses:
        '200':
          "$ref": "#/components/responses/UnknownJsonSuccess"
        '201':
          "$ref": "#/components/responses/UnknownJsonSuccess"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: advertised-only
        lastVerified: '2026-08-16'
        market: pl
        evidence:
        - source: public-discovery-2026-08-16
          supports:
          - path
        responseShape: unknown
        risk:
          effect: device-link
          destructive: false
          externallyVisible: false
          exercised: false
  "/customer-devices/{lang}/connected-device/links/{deviceId}:unlink":
    post:
      tags:
      - Devices
      summary: Unlink a connected device
      operationId: unlinkConnectedDevice
      parameters:
      - "$ref": "#/components/parameters/Lang"
      - name: deviceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          "$ref": "#/components/responses/EmptySuccess"
        '204':
          "$ref": "#/components/responses/EmptySuccess"
        '401':
          "$ref": "#/components/responses/Error"
        default:
          "$ref": "#/components/responses/Error"
      security:
      - cookieSession: []
      x-cookidoo:
        status: observed
        lastVerified: '2026-08-16'
        market: pl
        evidence:
        - source: authenticated-ui-2026-08-16
          supports:
          - path
          - method
          - authentication
          - request
          - response
        responseShape: typed
        risk:
          effect: device-link
          destructive: true
          externallyVisible: false
          exercised: false
  "/recipes/feed-v2/collections/bootstrap":
    get:
      tags:
      - Feeds
      summary: Bootstrap the collection change feed
      operationId: bootstrapCollectionFeed
      parameters:
      - name: after
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Collection bootstrap document.
          content:
            application/hal+json:
              schema:
                "$ref": "#/components/schemas/FeedBootstrap"
        '401':
          "$ref": "#/components/responses/Error"
        '403':
          "$ref": "#/components/responses/Error"
        '404':
          "$ref": "#/components/responses/Error"
      security:
      - basicAuth: []
      x-cookidoo:
        status: vendor-spec
        lastVerified: '2026-08-16'
        market: pl
        evidence:
        - source: collection-feed-spec-5.6
          supports:
          - path
          - method
          - request
          - response
          - authentication
        responseShape: partial
        risk:
          effect: read
          destructive: false
          externallyVisible: false
          exercised: false
  "/recipes/feed-v2/collections":
    get:
      tags:
      - Feeds
      summary: Read collection feed events
      operationId: getCollectionFeed
      parameters:
      - name: after
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          "$ref": "#/components/schemas/FeedLimit"
      responses:
        '200':
          description: Collection change feed.
          content:
            application/hal+json:
              schema:
                "$ref": "#/components/schemas/FeedBootstrap"
        '401':
          "$ref": "#/components/responses/Error"
        '403':
          "$ref": "#/components/responses/Error"
        '404':
          "$ref": "#/components/responses/Error"
      security:
      - basicAuth: []
      x-cookidoo:
        status: vendor-spec
        lastVerified: '2026-08-16'
        market: pl
        evidence:
        - source: collection-feed-spec-5.6
          supports:
          - path
          - method
          - request
          - response
          - authentication
        responseShape: partial
        risk:
          effect: read
          destructive: false
          externallyVisible: false
          exercised: false
  "/recipes/feed-v2/collections/pages":
    get:
      tags:
      - Feeds
      summary: Read a page of collection feed records
      operationId: getCollectionFeedPage
      parameters:
      - name: pageBefore
        in: query
        required: true
        description: ISO date-time or nonnegative Unix timestamp in seconds or milliseconds.
        schema:
          oneOf:
          - type: string
            format: date-time
          - type: integer
            minimum: 0
      - name: limit
        in: query
        schema:
          "$ref": "#/components/schemas/FeedLimit"
      responses:
        '200':
          description: Collection feed page.
          content:
            application/hal+json:
              schema:
                "$ref": "#/components/schemas/FeedPage"
        '303':
          description: Redirect to the matching feed page.
          headers:
            Location:
              description: Target feed page.
              schema:
                type: string
                format: uri
        '401':
          "$ref": "#/components/responses/Error"
        '403':
          "$ref": "#/components/responses/Error"
        '404':
          "$ref": "#/components/responses/Error"
      security:
      - basicAuth: []
      x-cookidoo:
        status: vendor-spec
        lastVerified: '2026-08-16'
        market: pl
        evidence:
        - source: collection-feed-spec-5.6
          supports:
          - path
          - method
          - request
          - response
          - authentication
        responseShape: partial
        risk:
          effect: read
          destructive: false
          externallyVisible: false
          exercised: false
components:
  securitySchemes:
    cookieSession:
      type: apiKey
      in: cookie
      name: _oauth2_proxy
      description: |-
        Partial representation of the first-party browser session. A current
        client also preserves `v-authenticated`, but that client-readable marker
        is not treated as an authentication credential. The complete cookie jar,
        attributes, renewal, and CSRF requirements remain unknown. Never paste
        live values into hosted documentation, generators, issues, or third-party
        tools.
    basicAuth:
      type: http
      scheme: basic
      description: Authentication declared by the advertised collection-feed specification;
        credentials are not documented here.
  parameters:
    Lang:
      name: lang
      in: path
      required: true
      schema:
        type: string
        default: pl
        pattern: "^[a-z]{2}(?:-[A-Z]{2})?$"
    RecipeId:
      name: recipeId
      in: path
      required: true
      schema:
        type: string
        pattern: "^r[0-9]+$"
    AnyRecipeId:
      name: recipeId
      in: path
      required: true
      schema:
        type: string
    CustomerRecipeId:
      name: customerRecipeId
      in: path
      required: true
      schema:
        "$ref": "#/components/schemas/CustomerRecipeId"
    ListId:
      name: listId
      in: path
      required: true
      schema:
        type: string
    DayKey:
      name: dayKey
      in: path
      required: true
      schema:
        type: string
        format: date
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
    XRequestedWith:
      name: X-Requested-With
      in: header
      required: false
      description: |-
        Marker added by the current first-party AJAX form helper. It is not proof
        that CSRF requirements have been satisfied.
      schema:
        type: string
        default: xmlhttprequest
  requestBodies:
    RecipeIdBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
            - recipeId
            properties:
              recipeId:
                type: string
            additionalProperties: false
          example:
            recipeId: r123456
    RecipeIdsAddBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
            - recipeIDs
            properties:
              recipeIDs:
                type: array
                items:
                  oneOf:
                  - type: string
                  - type: object
                    required:
                    - id
                    - source
                    properties:
                      id:
                        type: string
                      source:
                        type: string
                        const: CUSTOMER
                    additionalProperties: false
                minItems: 1
            additionalProperties: false
          example:
            recipeIDs:
            - r123456
    RecipeIdsRemoveBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
            - recipeIDs
            additionalProperties: false
            properties:
              recipeIDs:
                type: array
                minItems: 1
                uniqueItems: true
                items:
                  type: string
          example:
            recipeIDs:
            - r123456
  headers:
    RetryAfter:
      description: |-
        Server-requested delay when present. Absence does not imply that an
        immediate retry is safe, especially for mutations with an ambiguous
        outcome.
      schema:
        oneOf:
        - type: integer
          minimum: 0
          description: Delay in seconds.
        - type: string
          description: HTTP-date.
  responses:
    EmptySuccess:
      description: Successful response with no required body.
    Error:
      description: Error response. The gateway may return JSON problem details or
        HTML.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Problem"
        text/html:
          schema:
            type: string
        application/problem+json:
          schema:
            "$ref": "#/components/schemas/Problem"
          example:
            status: 400
            title: Synthetic error
    UnknownJsonSuccess:
      description: Successful JSON response whose top-level shape has not been safely
        verified.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/UnknownJson"
  schemas:
    CustomerRecipeId:
      type: string
      description: ULID generated for a customer-created recipe.
      pattern: "^[0-9A-HJKMNP-TV-Z]{26}$"
    OpaqueQueryScalar:
      description: Scalar URI-template value whose concrete type is not verified.
      oneOf:
      - type: string
      - type: number
      - type: boolean
    SearchFilters:
      type: object
      description: |-
        Form-exploded filter map. Named properties come from advertised search
        links; value delimiters, repetition, enums, units, and ranges remain
        unverified.
      properties:
        tags:
          "$ref": "#/components/schemas/OpaqueQueryScalar"
        categories:
          "$ref": "#/components/schemas/OpaqueQueryScalar"
        ratings:
          "$ref": "#/components/schemas/OpaqueQueryScalar"
        preparationTime:
          "$ref": "#/components/schemas/OpaqueQueryScalar"
        portions:
          "$ref": "#/components/schemas/OpaqueQueryScalar"
        difficulty:
          "$ref": "#/components/schemas/OpaqueQueryScalar"
        totalTime:
          "$ref": "#/components/schemas/OpaqueQueryScalar"
        tmv:
          "$ref": "#/components/schemas/OpaqueQueryScalar"
        countries:
          "$ref": "#/components/schemas/OpaqueQueryScalar"
        languages:
          "$ref": "#/components/schemas/OpaqueQueryScalar"
        additionalDevices:
          "$ref": "#/components/schemas/OpaqueQueryScalar"
        accessories:
          "$ref": "#/components/schemas/OpaqueQueryScalar"
        sortby:
          "$ref": "#/components/schemas/OpaqueQueryScalar"
        ids:
          "$ref": "#/components/schemas/OpaqueQueryScalar"
        ingredients:
          "$ref": "#/components/schemas/OpaqueQueryScalar"
        excludeIngredients:
          "$ref": "#/components/schemas/OpaqueQueryScalar"
        excludeTags:
          "$ref": "#/components/schemas/OpaqueQueryScalar"
        exclude:
          "$ref": "#/components/schemas/OpaqueQueryScalar"
        like:
          "$ref": "#/components/schemas/OpaqueQueryScalar"
      additionalProperties:
        "$ref": "#/components/schemas/OpaqueQueryScalar"
    RecipeClusterEntryV1:
      type: object
      required:
      - recipe_id
      - notation
      - quantity
      - types
      additionalProperties: true
      properties:
        recipe_id:
          type: string
        notation:
          type: string
        quantity:
          type: string
        types:
          type: array
          items:
            type: string
    RecipeClusterEntryV2:
      type: object
      required:
      - recipe_id
      - notation
      - quantity
      - types
      - languageTag
      additionalProperties: true
      properties:
        recipe_id:
          type: string
        notation:
          type: string
        quantity:
          type: string
        types:
          type: array
          items:
            type: string
        languageTag:
          type: string
    RecipeClusterV1Response:
      type: array
      description: Core item fields from a low-volume public cluster read.
      items:
        "$ref": "#/components/schemas/RecipeClusterEntryV1"
    RecipeClusterV2Response:
      type: array
      description: V2 adds a language tag to the independently modeled v1 core.
      items:
        "$ref": "#/components/schemas/RecipeClusterEntryV2"
    SearchRecipeCard:
      type: object
      additionalProperties: true
      properties:
        id:
          type: string
        objectID:
          type: string
        title:
          type: string
        image:
          type: string
        descriptiveAssets:
          type: array
          items:
            "$ref": "#/components/schemas/ImageAsset"
        totalTime:
          type: number
        rating:
          type: number
        numberOfRatings:
          type: number
        publishedAt:
          type: string
    SearchResultResponse:
      type: object
      required:
      - data
      additionalProperties: true
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/SearchRecipeCard"
    IngredientSuggestion:
      type: object
      additionalProperties: true
      properties:
        title:
          type: string
        highlighted:
          type: string
        occurrencesInRecipes:
          type: number
    IngredientSearchResponse:
      type: object
      required:
      - ingredients
      additionalProperties: true
      properties:
        ingredients:
          type: array
          items:
            "$ref": "#/components/schemas/IngredientSuggestion"
    AggregatedRecipeRating:
      type: object
      required:
      - aggregatedRating
      - numberOfRatings
      - updatedAt
      additionalProperties: true
      properties:
        aggregatedRating:
          type: number
        numberOfRatings:
          type: number
        updatedAt:
          type: string
    OfficialRecipe:
      type: object
      additionalProperties: true
      properties:
        id:
          type: string
        name:
          type: string
        recipeIngredientGroups:
          type: array
          items:
            type: object
      example:
        id: r123456
        name: Synthetic recipe
        recipeIngredientGroups: []
    CreateBlankRecipe:
      type: object
      required:
      - recipeName
      properties:
        recipeName:
          type: string
          minLength: 1
          maxLength: 120
      additionalProperties: false
      example:
        recipeName: Synthetic recipe
    CopyRecipe:
      type: object
      required:
      - recipeUrl
      properties:
        recipeUrl:
          type: string
          format: uri
        servingSize:
          type: number
          exclusiveMinimum: 0
        partnerId:
          type: string
      additionalProperties: false
      example:
        recipeUrl: https://example.invalid/synthetic-recipe
    CreatedRecipeCreated:
      type: object
      required:
      - recipeId
      additionalProperties: true
      properties:
        recipeId:
          "$ref": "#/components/schemas/CustomerRecipeId"
        parentRecipeId:
          type: string
      example:
        recipeId: 01ARZ3NDEKTSV4RRFFQ69G5FAV
    CreatedRecipeSummary:
      type: object
      required:
      - recipeId
      - name
      additionalProperties: true
      properties:
        recipeId:
          "$ref": "#/components/schemas/CustomerRecipeId"
        name:
          type: string
        createdAt:
          type: string
          format: date-time
        modifiedAt:
          type: string
          format: date-time
    CreatedRecipeListItem:
      type: object
      required:
      - recipeId
      additionalProperties: true
      properties:
        recipeId:
          "$ref": "#/components/schemas/CustomerRecipeId"
        recipeContent:
          type: object
          additionalProperties: true
          properties:
            name:
              type: string
    CreatedRecipeList:
      description: Partial list contract; current clients tolerate multiple envelopes.
      oneOf:
      - type: array
        items:
          "$ref": "#/components/schemas/CreatedRecipeSummary"
      - type: object
        additionalProperties: true
        properties:
          items:
            type: array
            items:
              "$ref": "#/components/schemas/CreatedRecipeListItem"
          data:
            type: array
            items:
              "$ref": "#/components/schemas/CreatedRecipeSummary"
    CreatedRecipe:
      type: object
      required:
      - recipeId
      - recipeContent
      additionalProperties: true
      properties:
        recipeId:
          "$ref": "#/components/schemas/CustomerRecipeId"
        authorId:
          type: string
        parentRecipeId:
          type: string
        status:
          type: string
        workStatus:
          type: string
          enum:
          - PRIVATE
          - PUBLIC
        createdAt:
          type: string
          format: date-time
        modifiedAt:
          type: string
          format: date-time
        recipeContent:
          "$ref": "#/components/schemas/RecipeContent"
      example:
        recipeId: 01ARZ3NDEKTSV4RRFFQ69G5FAV
        status: PRIVATE
        workStatus: PRIVATE
        recipeContent:
          name: Synthetic recipe
    PublicCreatedRecipeContent:
      type: object
      required:
      - name
      additionalProperties: true
      properties:
        name:
          type: string
        image:
          type:
          - string
          - 'null'
        prepTime:
          type: string
        totalTime:
          type: string
        recipeIngredient:
          type: array
          items:
            type: string
        recipeInstructions:
          type: array
          items:
            type: string
        recipeYield:
          "$ref": "#/components/schemas/RecipeYield"
        tool:
          type: array
          items:
            type: string
    PublicCreatedRecipe:
      type: object
      required:
      - recipeId
      - recipeContent
      additionalProperties: true
      properties:
        recipeId:
          "$ref": "#/components/schemas/CustomerRecipeId"
        authorId:
          type: string
        status:
          type: string
        workStatus:
          type: string
        createdAt:
          type: string
        modifiedAt:
          type: string
        recipeContent:
          "$ref": "#/components/schemas/PublicCreatedRecipeContent"
    RecipeContent:
      type: object
      required:
      - name
      additionalProperties: true
      properties:
        name:
          type: string
          maxLength: 120
        image:
          type:
          - string
          - 'null'
        ingredients:
          type: array
          items:
            "$ref": "#/components/schemas/Ingredient"
        instructions:
          type: array
          items:
            "$ref": "#/components/schemas/Instruction"
        tools:
          type: array
          items:
            type: string
        yield:
          "$ref": "#/components/schemas/RecipeYield"
        prepTime:
          type: integer
          minimum: 0
          description: Seconds
        totalTime:
          type: integer
          minimum: 0
          description: Seconds
        hints: {}
        recipeMetadata:
          type: object
          additionalProperties: true
    CreatedRecipePatch:
      type: object
      minProperties: 1
      additionalProperties: false
      properties:
        name:
          type: string
          maxLength: 120
        hints: {}
        image:
          type:
          - string
          - 'null'
        isImageOwnedByUser:
          type: boolean
        isImageCopyrightOwned:
          type: boolean
        ingredients:
          type: array
          items:
            "$ref": "#/components/schemas/Ingredient"
        instructions:
          type: array
          items:
            "$ref": "#/components/schemas/WritableInstruction"
        tools:
          type: array
          items:
            type: string
        yield:
          "$ref": "#/components/schemas/RecipeYield"
        prepTime:
          type: integer
          minimum: 0
        totalTime:
          type: integer
          minimum: 0
        workStatus:
          type: string
          enum:
          - PRIVATE
          - PUBLIC
        recipeMetadata:
          type: object
          additionalProperties: true
      example:
        name: Synthetic recipe updated
    RecipeYield:
      type:
      - object
      - 'null'
      properties:
        value:
          type: number
        unitText:
          type: string
    Ingredient:
      type: object
      required:
      - type
      - text
      properties:
        type:
          type: string
          const: INGREDIENT
        text:
          type: string
    InstructionTextPosition:
      type: object
      required:
      - offset
      - length
      additionalProperties: true
[...]
